<div *ngIf="portletJson" class="portlet light bordered ">
  <div *ngIf="portletJson.title" class="portlet-title">
      <div class="caption">
          <i  class="{{portletJson.titleIcon}}"></i>
          <span  class="caption-subject {{portletJson.titleColor}} bold uppercase"> {{portletJson.title}}</span>

      </div>

  </div>
  <div #portlet  class="portlet-body {{portletJson.id}}">
      <div  class="portlet_context {{portletJson.id}}" style="height:300px;">
        <ng-template #dynamicComponent></ng-template>
      </div>

  </div>
</div>
<div  cnst-portlet-contextmenu (changeComponent)="createComponent($event)" [menuItem]="menuList" [parentContext]="portlet"></div>