<div *ngIf="config" class="portlet light bordered ">
    <div *ngIf="config.title" class="portlet-title">
        <div class="caption">
            <i class="{{config.titleIcon}}"></i>
            <span class="caption-subject {{config.titleColor}} bold uppercase"> {{config.title}}</span>

        </div>

    </div>
    <div #portlet class="portlet-body {{config.id}}">
        <div class="scroller portlet_context {{config.id}}" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd"
            [ngStyle]="{height: config.height}">
            <div #dynamicComponent></div>
        </div>

    </div>
</div>
<div cnst-portlet-contextmenu (changeComponent)="createComponent($event)" [menuItem]="menuList" [parentContext]="portlet"></div>
