
<form class="form-horizontal" role="form" novalidate
      [formGroup]="form"
      (submit)="handleSubmit($event)">
  <table class="table table-bordered">
    <thead>
    <tr style="background:#eef1f5">
      <td  *ngFor="let title of configsTitle.header" [ngStyle]="{width:title.width}" >{{title.title}}</td>
      <td *ngIf="configsTitle.deleteButton">
      
      </td> 
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let configData of configs">
      <td *ngFor="let field of configData" class="text-center">
          <label *ngIf="field.type =='label'" class="control-label">
            {{field.label}}
          </label>
        <ng-container *ngIf="field.type != 'label'" cnstDynamicField
                      [(submitValid)]="submitValid"
                      [config]="field"
                      [group]="form">
        </ng-container>
      </td>
       <td *ngIf="configsTitle.deleteButton"><a class="btn btn-warning" (click)="delrow(configData)">删除</a></td>
    </tr>
    </tbody>
  </table>
  <div>
      <a class="btn btn-success" (click)="addRow()">新增</a>
      <a class="btn btn-success" (click)="getValue()">保存</a>
    </div>
</form>




