
<form class="form-horizontal" role="form" novalidate
      [formGroup]="form"
      (submit)="handleSubmit($event)">
  <table class="table table-bordered">
    <thead>
    <tr style="background:#eef1f5">
      <td  *ngFor="let titels of configstitel">{{titels.titel}}</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let configData of configs">
      <td *ngFor="let field of configData">
        <ng-container cnstDynamicField
                      [(submitValid)]="submitValid"
                      [config]="field"
                      [group]="form">
        </ng-container>
      </td>
      <td><a class="btn btn-warning" (click)="delrow(configData)">删除</a></td>
    </tr>
    </tbody>
  </table>
  <div>
      <a class="btn btn-success" >新增</a>
      <button class="btn btn-success" type="submit">保存</button>
    </div>
</form>




