<div class="portlet light" *ngIf="configTabs">
  <div class="portlet-title tabbable-line">
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of configTabs" class="tabs.active {{tab.active}}">
        <a href="#{{tab.id}}" data-toggle="tab">
          <span (click)="checkTab($event,tab)">{{tab.title}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="portlet-body ">
    <div class="tab-content">
      <div *ngFor="let tab of configTabs" class="tab-pane fade {{tab.active}}" id="{{tab.id}}">
        <cnst-component-resolver [config]="tab.viewCfg"></cnst-component-resolver>
      </div>
    </div>
  </div>
</div>

<div *ngIf="_isArray">
  <ng-container *ngFor="let configItem of config">
    <cnst-component-resolver [config]="configItem"></cnst-component-resolver>
  </ng-container>
</div>
<div>
  <div *ngIf="!_isArray && config">
    <div #dynamicComponent></div>
  </div>
</div>
