<div class="portlet" *ngIf="configTabs">
  <div class="portlet-body tabbable-line">
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of configTabs" class="tabs.active {{tab.active}}">
        <a href="#{{tab.id}}" data-toggle="tab" (click)="checkTab($event,tab)">
          <span>{{tab.title}}</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div *ngFor="let tab of configTabs" class="tab-pane fade {{tab.active}}" id="{{tab.id}}">
        <cnst-component-resolver [config]="tab.viewCfg"></cnst-component-resolver>
      </div>
    </div>
  </div>
</div>

<div *ngIf="_isArray">
  <ng-container *ngFor="let configItem of config">
    <div *ngIf="configItem.tabs"  cnst-component-resolver [configTabs]="configItem.tabs"></div>
    <div *ngIf="!configItem.tabs" cnst-component-resolver [config]="configItem"></div>
  </ng-container>
</div>
<div>
  <div *ngIf="!_isArray && config">
    <div #dynamicComponent></div>
  </div>
</div>
