<div class="row">
  <div class="table-scrollable col-md-12">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>

          <th> 数据源 SQL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
         
          <td>
            <cnst-codemirror></cnst-codemirror>
            <a class="btn btn-success" (click)="getCodemirrorValue()" >保存</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="tabs.active active">
        <a href="#tab01" data-toggle="tab">
          <span>字段</span>
        </a>
      </li>
      <li class="tabs.active">
        <a href="#tab02" data-toggle="tab">
          <span>sql参数</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="tab01">
        <cnst-dynamic-form #form1="cnstDynamicForm" [configs]="_formConfigs" [configstitel]="_formConfigstilel"></cnst-dynamic-form>
        <div>
          <a class="btn btn-success" (click)="addfield()">新增</a>
          <a class="btn btn-success" (click)="form1Save()">保存</a>
        </div>

      </div>
      <div class="tab-pane fade" id="tab02">

        <!-- <cnst-dynamic-form #form2="cnstDynamicForm" [configs]="_formConfigsparameter" [configstitel]="__formConfigsparametertilel"></cnst-dynamic-form>
        <a class="btn btn-success" (click)="addparameter()">新增</a>
        <a class="btn btn-success">保存</a> -->
      </div>

    </div>

  </div>
</div>