<div class="portlet light bordered ">
  <div class="portlet-title">
    <div class="caption">
      <i></i>
      <span class="caption-subject  bold uppercase"> </span>
      <ul class="nav nav-tabs">
        <li *ngFor="let tab of tabs" class="tabs.active {{tab.active}}">
          <a href="#{{tab.id}}" data-toggle="tab">
            <span (click)="checkTab($event,tab)">{{tab.title}}</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="portlet-body">
    <div class="tab-content">
      <div *ngFor="let tab of tabs" class="tab-pane fade {{tab.active}}" id="{{tab.id}}">

        <cnst-dynamic-form #fieldForm="cnstDynamicForm" [configs]="tab.editorContent" [configsTitle]="tab.editorHeader"></cnst-dynamic-form>
        <div>
          <a class="btn btn-success" (click)="addField()">新增</a>
          <a class="btn btn-success" (click)="form1Save()">保存</a>
        </div>

      </div>
    </div>

  </div>
</div>